{% extends 'admin/base.html.twig' %}

{% block title %}Cmcheck{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.bootstrap5.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#bulkDeleteModal').click(function () {
                let table = $('#client').DataTable();
                let selectedRows = table.rows('.selected').nodes().length;
                $('#bulkNbElement').text(selectedRows);

                if (selectedRows > 0) {
                    $('#bulkDelete').removeClass('disabled');
                } else {
                    $('#bulkDelete').addClass('disabled');
                }
            })
            $('#bulkDelete').click(function () {
                let table = $('#client').DataTable();
                let selectedRows = table.rows('.selected').nodes();

                let ids = [];
                $(selectedRows).each(function () {
                    ids.push($(this).attr('data-rowId'));
                });

                if (ids.length === 0) {
                    return;
                }

                $.ajax({
                    url: $('#bulkDelete').attr('data-url'),
                    type: 'POST',
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        if (data.success) {
                            location.reload();
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Publications</h3>
                <div class="nk-block-des text-soft">
                    <nav style="margin-left: 2px">
                        <ul class="breadcrumb breadcrumb-arrow">
                            <li class="breadcrumb-item"><a href="{{ path('app_admin_home') }}">Tableau de bord</a></li>
                            <li class="breadcrumb-item active">Publications</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="nk-block-head-content">
                <a href="" id="bulkDeleteModal" class="btn btn-danger btn-sm btn-dim" data-bs-toggle="modal" data-bs-target="#bulkDeleteModalFocus">Supprimer
                    en masse</a>
                <div class="modal fade" tabindex="-1" id="bulkDeleteModalFocus" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Suppression en masse</h5>
                                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <em class="icon ni ni-cross"></em>
                                </a>
                            </div>
                            <div class="modal-body">
                                <p>Vous allez supprimer <span id="bulkNbElement"></span> éléments, êtes-vous sûr ?</p>
                            </div>
                            <div class="modal-footer bg-light">
                                <a href="#" class=" btn btn-gray btn-sm" data-bs-dismiss="modal" aria-label="Close">Annuler</a>
                                <a href="#" id="bulkDelete" data-url="{{ path('app_admin_publication_bulk_delete') }}"
                                   class="disabled btn btn-danger btn-sm">Continuer & Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_admin_publication_create') }}" type="button" class="btn btn-primary btn-sm">Nouvelle publication</a>
            </div>
        </div>
    </div>
    <div class="container p-0">
        <div class="card card-bordered p-3">
            <div class="card-inner">
                <table id="client" class="table datatable-init-custom" data-export-title="Supprimer en masse" style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th data-priority="1">Client</th>
                        <th>Contenu</th>
                        <th>Media</th>
                        <th data-priority="4">Réseaux social</th>
                        <th data-priority="3">Status</th>
                        <th data-priority="5">A publié le</th>
                        <th data-priority="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if publications is defined %}
                        {% for publication in publications %}
                            <tr data-rowId="{{ publication.getId() }}">
                                <td class="align-middle"></td>
                                <td class="align-middle">{{ publication.getClient().getSociete() }}</td>
                                <td class="align-middle">{{ publication.getSummary()|slice(0,25) }}</td>
                                <td>
                                    {% if publication.getMedia() is defined and publication.getMedia()|length > 0 %}
                                        <div style="width: 35px;height: 35px;object-fit: cover;    overflow: hidden;">
                                            <img src="{{ asset('uploads/'~publication.getClient().getId()~'/'~publication.getMedia()[0]) }}" alt="">
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="align-middle">{{ publication.getSocial()[:1]|upper }}{{ publication.getSocial()[1:] }}</td>
                                <td class="align-middle">
                                    {% if publication.getState() == 'draft' %}
                                        <span class="badge badge-dim bg-outline-primary">Brouillon</span>
                                    {% elseif publication.getState() == 'check' %}
                                        <span class="badge badge-dim bg-outline-warning">En attente de validation</span>
                                    {% elseif publication.getState() == 'rework' %}
                                        <span class="badge badge-dim bg-outline-danger">A retravailler</span>
                                    {% elseif publication.getState() == 'validate' %}
                                        <span class="badge badge-dim bg-outline-success">Validé</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle" data-sort="{{ publication.getPublishedAt().format('Ymd') }}">{{ publication.getPublishedAt().format('d/m/Y H:i') }}</td>
                                <td class="d-flex">
                                    <a href="{{ path('app_admin_publication_edit',{id: publication.getId()}) }}"
                                       class="btn btn-sm btn-dim btn-warning me-1">Modifier</a>
                                    <a href="" class="btn btn-sm btn-dim btn-danger" data-bs-toggle="modal"
                                       data-bs-target="#modalSmall{{ publication.getId() }}">Supprimer</a>
                                    <div class="modal fade" tabindex="-1" id="modalSmall{{ publication.getId() }}" aria-modal="true" role="dialog">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Suppression</h5>
                                                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <em class="icon ni ni-cross"></em>
                                                    </a>
                                                </div>
                                                <div class="modal-body">
                                                    <p>La suppression est irréversible. Êtes-vous vraiment sûr de vouloir supprimer cette publication
                                                        ?</p>
                                                </div>
                                                <div class="modal-footer bg-light">
                                                    <a href="#" class=" btn btn-gray btn-sm" data-bs-dismiss="modal" aria-label="Close">Annuler</a>
                                                    <a href="{{ path('app_admin_publication_delete',{id:publication.getId()}) }}"
                                                       class="btn btn-danger btn-sm">Continuer & Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
